/* The navigation menu */
.navbar {
    background-color: rgba(26, 26, 26,0.0);
    position: absolute;
    top: 1%;
    right: 1vh;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 1.1vw;
    color: white;
    text-align: center;
    padding: 0.7vw 0.9vw;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 1.1vw;
    border: none;
    outline: none;
    color: white;
    padding: 0.7vw 0.9vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgba(3, 45, 134, 0.4);
    color:  white;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    right:  0%;
    background-color: rgba(26, 26, 26,0.0);
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: right;
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
    padding: 0.5vw 0.8vw;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: rgba(255,255,255,0.8);
    color:  rgb(3, 55, 167);
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }