{%- assign background = page.footer | default: site.footer | default: "none" -%}
{%- if background == "none" -%}
  {%- assign background = nil -%}
{%- endif -%}

{%- assign dark = page.footer-dark -%}
{%- if dark == nil -%}
  {%- assign dark = site.footer-dark -%}
{%- endif -%}
{%- if dark == nil -%}
  {%- assign dark = true -%}
{%- endif -%}

<footer {% if background %}class="background"{% endif %} {% if background %}style="--background: url('{{ background | relative_url }}')"{% endif %} data-dark="{{ dark }}">  
  <div class="footer_row">

    <!-- <a href="https://www.youtube.com/@HARCOLAB" class="btn-social btn-outline"><i class="fab fa-youtube fa-2x"></i></a> &nbsp; -->
    &copy; {{ site.time | date: '%Y' }} {{ site.title }} 
    
  </div>  
 
</footer>
