{%- assign background = page.header | default: site.header | default: "none" -%}
{%- if background == "none" -%}
  {%- assign background = nil -%}
{%- endif -%}

{%- assign dark = page.header-dark -%}
{%- if dark == nil -%}
  {%- assign dark = site.header-dark -%}
{%- endif -%}
{%- if dark == nil -%}
  {%- assign dark = true -%}
{%- endif -%}

{%- assign title = site.logo-text -%}
{%- if title == nil -%}
  {%- assign title = site.title -%}
{%- endif -%}

<link rel="stylesheet" href="/css/subnav.css">
<header {% if background %}class="background"{% endif %} {% if background %}style="--background: url('{{ background | relative_url }}')"{% endif %} data-dark="{{ dark }}">
  <a
    href="{{ '/' | relative_url }}"
    class="logo_row"
    data-tooltip="Home"
  >
    <img src="{{ site.logo | relative_url }}" class="logo" />
    {% if title and title != "" %}
      <span class="logo_text">{{ title }}</span>
    {% endif %}
  </a>



  {%- assign pages = site.pages | where_exp: "page", "page.nav" | sort: "nav.order" -%}
  <div class="navbar">
    <a href="{{ '/' | relative_url }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a href="https://youtube.com/@HARCOLAB?si=Rfsy8015JEwoklbW"><i class="fab fa-youtube"></i> YouTube</a>
    
    
    {%- for page in pages -%}
      {%- assign order = page.nav.order -%}
      {%- if order == 1 -%}
        <a href="{{ page.dir | relative_url }}"><i class='fas fa-book-reader'></i> {{ page.title }}</a>
      {%- endif -%}
      {%- if order == 2 -%}
        <a href="{{ page.dir | relative_url }}"><i class="fa fa-flask" aria-hidden="true"></i> {{ page.title }} </a>
      {%- endif -%}
      {%- if order == 3 -%}
        <a href="{{ page.dir | relative_url }}"><i class="fas fa-inbox"></i> {{ page.title }}</a>
      {%- endif -%}
    {%- endfor -%}
  
    <div class="subnav">
      <button class="subnavbtn"><i class='fas fa-leaf'></i> Team <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        {%- for page in pages -%}
          {%- assign order = page.nav.order -%}
          {%- if order ==4 -%}
            <a href="{{ page.dir | relative_url }}"><i class="fas fa-user-friends"></i> {{ page.title }}</a>
          {%- endif -%}
          {%- if order ==5 -%}
            <a href="{{ page.dir | relative_url }}"><i class="fas fa-envelope"></i> {{ page.title }}</a>
          {%- endif -%}

        {%- endfor -%}
      </div>
    </div>
  
    <div class="subnav">
      <button class="subnavbtn"><i class='fas fa-carrot'></i> Event <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        {%- for page in pages -%}
          {%- assign order = page.nav.order -%}
          {%- if order == 6 -%}
            <a href="{{ page.dir | relative_url }}"><i class="fa fa-cube" aria-hidden="true"></i> {{ page.title }}</a>
          {%- endif -%}
          {%- if order == 7 -%}
            <a href="{{ page.dir | relative_url }}"><i class="fas fa-bell"></i> {{ page.title }}</a>
          {%- endif -%}
          {%- if order == 8 -%}
            <a href="{{ page.dir | relative_url }}"><i class="fas fa-chalkboard-teacher"></i> {{ page.title }}</a>
          {%- endif -%}

        {%- endfor -%}
      </div>
    </div>
  </div>

</header>




