{%- assign background = page.header | default: site.header | default: "none" -%}
{%- if background == "none" -%}
  {%- assign background = nil -%}
{%- endif -%}

{%- assign dark = page.header-dark -%}
{%- if dark == nil -%}
  {%- assign dark = site.header-dark -%}
{%- endif -%}
{%- if dark == nil -%}
  {%- assign dark = false -%}
{%- endif -%}

{%- assign title = site.logo-text -%}
{%- if title == nil -%}
  {%- assign title = site.title -%}
{%- endif -%}

<link rel="stylesheet" href="/css/subnav.css">
<link rel="stylesheet" href="/css/subnav_research.css">
<script>
  function redirectToResearch() {
    window.location.href = '/research/index.html';
  }
</script>


<header {% if background %}class="background"{% endif %} {% if background %}style="--background: url('{{ background | relative_url }}')"{% endif %} data-dark="{{ dark }}">
  <a
    href="{{ '/' | relative_url }}"
    class="logo_row"
    data-tooltip="Home"
  >
    {% if title and title != "" %}
    <div>{{ title }}</div>
    {% endif %}
  </a>

  <div class="navbar">
    <a href="{{ '/' | relative_url }}">Home</a>

    <div class="subnav-research">
      <button class="subnavbtn-research" onclick="redirectToResearch()">Research</button>
      <div class="subnav-research-content">
        <a href="/research/mobile_manipulator/">Mobile Manipulator</a>
        <a href="/research/exoskeleton_robot/">Exoskeleton Robot</a>
        <a href="/research/artificial_intelligence/">Artificial Intelligence</a>
      </div>
    </div>

    <a href="/equipment/">Robots &amp; Equipment</a>

    <a href="/project/index.html">Projects</a>

    <div class="subnav">
      <button class="subnavbtn">Publications <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="/publication/index.html">Journal &amp; Conference Papers</a>
        <a href="/publication/patent.html">Patents</a>
      </div>
    </div>

    <div class="subnav">
      <button class="subnavbtn">Team <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="/team/index.html">Members</a>
        <a href="/contact/index.html">Contact</a>
      </div>
    </div>

    <div class="subnav">
      <button class="subnavbtn">News &amp; Events <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="/news/index.html">News</a>
        <a href="/workshop/index.html">Workshops</a>
        <a href="/lecture/index.html">Lectures</a>
      </div>
    </div>
  </div>

</header>
