<style>
.course-card {
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.course-card .course-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.course-card .course-header i {
  margin-right: 10px;
  color: #007bff;
}

.course-card .course-body {
  margin-top: 10px;
}

.course-card .course-body .semesters {
  display: flex;
  margin-top: 10px;
}

.course-card .course-body .semesters div {
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

.course-card .course-body .semesters div span {
  font-weight: bold;
  color: #555;
}

</style>

<h2><i class="fas fa-thumbtack"></i> Core Courses</h2>
{% for course in page.core_courses %}
  <div class="course-card">
    <div class="course-header">
      <i class="fas fa-{{ course.icon }}"></i>
      {{ course.code }} | {{ course.name }}
      <span class="course-name-english">({{ course.english_name }})</span>
    </div>
    <div class="course-body">
      <p><strong>Level:</strong> {{ course.level }} | <strong>Credits:</strong> {{ course.credits }}</p>
      <p>{{ course.additional_info }}</p>
      <p><strong>관장학과:</strong> {{ course.department }}</p>
      <div class="semesters">
        {% for semester in course.semesters %}
        <div><span>{{ semester }}</span></div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}

<h2><i class="fas fa-flask"></i> Graduate Courses</h2>
{% for course in page.graduate_courses %}
  <div class="course-card">
    <div class="course-header">
      <i class="fas fa-{{ course.icon }}"></i>
      {{ course.code }} | {{ course.name }} 
      <span class="course-name-english">({{ course.english_name }})</span>
    </div>
    <div class="course-body">
      <p><strong>Level:</strong> {{ course.level }} | <strong>Credits:</strong> {{ course.credits }}</p>
      <p>{{ course.additional_info }}</p>
      <p><strong>관장학과:</strong> {{ course.department }}</p>
      <div class="semesters">
        {% for semester in course.semesters %}
        <div><span>{{ semester }}</span></div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}