

<link rel="stylesheet" href="/css/organizer_grid.css">

<div class="organizer_container">
  <a>
    <img src="{{ include.image | relative_url }}" loading="lazy" style="height: auto; width: 100%;" />
  </a>
  <div class="item">
    {%- if include.org_name -%}
    <p><span style="font-family: sans-serif; font-size: 20px; line-height: 5px;"><strong>{{ include.org_name }}</strong></span>, <span style="font-family: sans-serif; font-size: 16px; line-height: 5px;"><strong>{{ include.position }}</strong></span>   </p>
    {%- endif -%}
    {%- if include.affilation -%}
    <p style="font-family: sans-serif; font-size: 16px; line-height: 10px;"><strong>{{ include.affilation }}</strong></p>
    {%- endif -%}
    {%- if include.email -%}
    {% assign email = include.email %}
    <p style="font-family: sans-serif; font-size: 14px; line-height: 3px;"><strong> <a href="mailto: {{ email }}">{{ email }}</a> </strong></p>
    {%- endif -%}

    
    {{ include.text | markdownify }}
  </div>
</div>
