

<link rel="stylesheet" href="../css/slide.css">
<div class="slidebox">
    <input type="radio" name="slide" id="slide01" checked>
    <input type="radio" name="slide" id="slide02">
    <input type="radio" name="slide" id="slide03">
    <input type="radio" name="slide" id="slide04">
    <ul class="slidelist">
        <li class="slideitem">
            <div>
                <label for="slide06" class="left"></label>
                <label for="slide04" class="right"></label>
                <a><img src="../images/frontimg/01.png" style="display: block; margin: 0 auto;"></a>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide01" class="left"></label>
                <label for="slide05" class="right"></label>
                <a><img src="../images/frontimg/02.png" style="display: block; width:500px; height: 300px; margin: 0 auto;"></a>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide02" class="left"></label>
                <label for="slide06" class="right"></label>
                <a><img src="../images/frontimg/03.png" style="display: block; margin: 0 auto;"></a>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide03" class="left"></label>
                <label for="slide01" class="right"></label>
                <a><img src="../images/frontimg/04.png" style="display: block; margin: 0 auto;"></a>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide04" class="left"></label>
                <label for="slide02" class="right"></label>
                <a><img src="../images/frontimg/05.png" style="display: block; margin: 0 auto;"></a>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide05" class="left"></label>
                <label for="slide03" class="right"></label>
                <a><img src="../images/frontimg/06.png" style="display: block; margin: 0 auto;"></a>
            </div>
        </li>

    </ul>
</div>
